<html>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/ttaal.css">
    </head>
    <body>
        <header>
            <h1>Gerardo Barnett Shaw</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="ttaal.html">Gerardo</a></li>
                <li><a href="https://www.w3schools.com/">More info</a></li>
            </ul>
        </nav>
        <main>
            <h3>Two truths and a lie:</h3>
            <table>
                <tr class="truth">
                    <th>1st</th>
                    <td>I was raised in Mexico.</td>
                </tr>
                <tr class="truth">
                    <th>2nd</th>
                    <td>I like playing Doom.</td>
                </tr>
                <tr class="lie">
                    <th>3rd</th>
                    <td>I speak with my father very often.</td>
                </tr>
            </table>
        </main>
        <footer>
            <div>101121-JavaExt.</div>
        </footer>
    </body>
</html>