<div>
    <figure>
        
        <img src="pictures/Opeth.jpg" id="opeth" width="500" height="500" class="center">
        <figcaption>- Here's a picture of myself -</figcaption>
    </figure>
    <hr>
    <p>こんにちは、私の名前はジェラルドです (Konnichiwa, watashi no namaewa jerarudodesu) Hello, my name is Gerardo.
       I was born in Sierra Vista, AZ but I was raised in a small town called Cananea, Sonora, Mexico.
       I have been playing videogames since I was 6 years old. I am a huge Nintendo fan and my favorite game is 
       The Legend of Zelda: Breath of the Wild ゼルダの伝説ブレスオブザワイルド (Zeruda no densetsu buresu obu za wairudo).
       As you can see, I like writing some stuff in Japanese. I have been learning Japanese for three years now.
       My biggest dream is to work for Nintendo and meet my hero, Shigeru Miyamoto. I also like to listen to music,
       specially to metal. My top three favorite bands are Metallica, Opeth and Soen.
       My favorite hobbies are gaming, basketball, baseball, cycling, exercising, music, meditating and of course,
       hanging out with my friends and family. 
    </p>
</div>
