<div>
    <figure>
        <img src="https://www.planetware.com/photos-large/PER/peru-machu-picchu-1.jpg" id="peru">
        <figcaption>The picture above is actually a picture that I took while hiking the Inca Trail in Peru(I'll admit it's a little saturated, but it looks nice as a desktop picture).</figcaption>
    </figure>
    <hr>
    <p>
        If you would like to learn more about my trip to Peru hiking the Inca Trail and the Rainbow Mountains, visit http://www.AlexDarvinBlog.com.
    </p>
</div>