<html>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/ttaal.css">
    </head>
    <body>
        <header>
            <h1>Alex's 2 Truths and a Lie!</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="ttaal.html">TTAAL</a></li>
                <li><a href="https://www.w3schools.com/">More info</a></li>
            </ul>
        </nav>
        <main>
            <h3>Try To Find The Lie From these 3 Statements:</h3>
            <table>
                <tr class="truth">
                    <th>1st</th>
                    <td>I have lived in the same house for my entire life.</td>
                </tr>
                <tr class="lie">
                    <th>2nd</th>
                    <td>My favorite fast food item is a Whopper from Burger King.</td>
                </tr>
                <tr class="truth">
                    <th>3rd</th>
                    <td>I taught tennis to a former professional player's son for a summer.</td>
                </tr>
            </table>
        </main>
        <footer>
            <div>
                All rights for this website belong to Alex Darvin.
                If you have any feedback or would like to chat, email alex.darvin@revature.net
            </div>
        </footer>
    </body>
</html>