
<h3>Try To Find The Lie From these 3 Statements:</h3>
            <table>
                <tr class="truth">
                    <th>1st</th>
                    <td>I have lived in the same house for my entire life.</td>
                </tr>
                <tr class="lie">
                    <th>2nd</th>
                    <td>My favorite fast food item is a Whopper from Burger King.</td>
                </tr>
                <tr class="truth">
                    <th>3rd</th>
                    <td>I taught tennis to a former professional player's son for a summer.</td>
                </tr>
            </table>